@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: #111;
  display: flex;
  justify-content: center;
  font-family: 'Bad Script', cursive;
  font-size: 6em;
}

h1 span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate-login 2s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.4s;
}

h1 span:nth-child(3) {
  animation-delay: 0.8s;
}

h1 span:nth-child(4) {
  animation-delay: 1.2s;
}

h1 span:nth-child(5) {
  animation-delay: 1.6s;
}

@keyframes animate-login {
  0%,100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff;
  }
  5%,95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}

.box {
  width: 300px;
  padding: 40px;
  background: #191919;
  text-align: center;
}

.box input[type = "text"], .box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #111;
  border-radius: 24px;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  transition: 0.25s
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
  width: 240px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid indigo;
  border-radius: 0px;
}

.box input[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #00b3ff;
  border-radius: 24px;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: white;
  transition: 0.25s
}

.box input[type = "submit"]:hover {
  background: #00b3ff;
}
